body {
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.7;
    color: #000000;
}

h1 {
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #000000;
}

h2 {
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
}

p {}

.highlight {
    font-weight: 700;
    color: #ff0000;
}

.logo {
    max-width: 100px;
    float: left;
}

.logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.header {
    width:100%;
    height:100%;
    background-image: url(assets/brit.png);
}